.row-team p {
  margin-bottom: 0;
}

.member-name {
  font-weight: bolder;
}

hr {
  margin-bottom: 2%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
}
