/* General CSS */
hr {
  margin-bottom: 2%;
}

footer {
  position: absolute;
  margin-top: auto;
  padding-top: 3%;
  left: 0;
  width: 100%;
}

h3 {
  margin-top: 5%;
}

/* Converged CSS */
.row p {
  margin-bottom: 0;
}

/* Team CSS */
.row-team {
  margin-top: 2%;
}

.row-team img {
  height: 200px;
  border-radius: 50%;
  margin-bottom: 3%;
}

.member-name {
  font-weight: bolder;
}
